/* font-family: 'Bitter', serif;
    colors: #0b7899 - steel blue,
    #d9d9d9 - light grey,
    #51565c - steel grey,
    #81cbd4 - light blue,
  */

* {
  font-family: 'Bitter', serif;
  /* border: 2px solid blue; */
  margin: 0;
}

body {
  background-color: #d9d9d9;
  /* height: 100vh; */
}
/* HEADER */
header {
  background-color: #51565c;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2.5vw;
  align-self: center;
}

img {
  margin-top: 1vw;
  border: 5px solid #0b7899;
  border-radius:10px;
  box-shadow: 10px 15px 15px #51565c;
  /* width: 375px;
  height: 360px; */
  /* border-radius: 50%; */
}

img:hover {
  border: 5px solid #81cbd4;
  box-shadow: 10px 15px 15px #0b7899;
}

.nav-btn {
  height: 5vh;
  width: 10vw;
  margin-right: 2vw;
  margin-left: 2vw;
  align-self: center;
  background-color: #d9d9d9;
}

.nav-btn:hover {
  background-color: #81cbd4;
}

/* SEARCH & FILTER */
.category {
  height: 18vh;
  display: flex;
  justify-content: space-around;
}

.category-btn {
  height: 7vh;
  width: 15vw;
  align-self: center;
  text-transform: uppercase;
  font-size: 1.1vw;
  border-radius: 50px;
  background-color:  #0b7899;
  color: white;
}

.category-btn:hover {
  background-color: #81cbd4;
}

.search{
  height: 10vh;
  display: flex;
}

.search-options {
  height: 4vh;
  width: 10vw;
  margin-top:2.5vh;
}

.search-by {
  height: 3vh;
  margin-top: 3vh;
  margin-left: 5rem;
}

.search-error{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.search-bar {
  height: 5vh;
  width: 50vw;
  align-self: center;
  margin-top: 1.7vh;
  margin-left: 2vw;
}

.error {
  margin-left: 2vw;
}

/* POPULAR RECIPES */
h2 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  font-size: 20px;
  font-weight: bold;
}
.random-recipes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ALL RECIPES */
.all-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.recipe-listing {
  margin-top: 3vw;
}

/* RECIPES BY CAT */

.recipe-by-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

/* FAVORITES */
.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.delete-btn {
  width: 7vw;
  padding: 0.5vw;
  border-radius: 5px;
  background-color: #d9d9d9;
  margin-bottom: 1vw;
}

.delete-btn:hover {
  background-color: #81cbd4;
}



.hidden {
  display: none;
}
