/* font-family: 'Bitter', serif;
    colors: #0b7899 - steel blue,
    #d9d9d9 - light grey,
    #51565c - steel grey,
    #81cbd4 - light blue,
  */

* {
  font-family: 'Bitter', serif;
  /* border: 2px solid blue; */
  margin: 0;
}

body {
  background-color: #d9d9d9;
}
/* HEADER */
header {
  background-color: #51565c;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2.5vw;
  align-self: center;
}

img {
  margin-top: 1vw;
  border: 5px solid #0b7899;
  border-radius:10px;
  box-shadow: 10px 15px 15px #51565c;
}

img:hover {
  border: 5px solid #81cbd4;
  box-shadow: 10px 15px 15px #0b7899;
}

.nav-btn {
  font-size: 1.2vw;
  height: 5vh;
  width: 10vw;
  margin-right: 2vw;
  margin-left: 2vw;
  border-radius: 5px;
  align-self: center;
  background-color: #d9d9d9;
}

.nav-btn:hover {
  background-color: #81cbd4;
}

/* SEARCH & FILTER */
.category {
  height: 18vh;
  display: flex;
  justify-content: space-around;
}

.category-btn {
  height: 7vh;
  width: 15vw;
  align-self: center;
  text-transform: uppercase;
  font-size: 1.1vw;
  border-radius: 50px;
  background-color:  #0b7899;
  color: white;
}

.category-btn:hover {
  background-color: #81cbd4;
}

.search{
  height: 10vh;
  display: flex;
}

.search-options {
  height: 4vh;
  width: 10vw;
  margin-top:2.5vh;
}

.search-by {
  height: 3vh;
  margin-top: 3vh;
  margin-left: 5rem;
}

.search-error{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.search-bar {
  height: 5vh;
  width: 50vw;
  align-self: center;
  margin-top: 1.7vh;
  margin-left: 2vw;
  background: url(https://media.giphy.com/media/wTbpsFBs4Ek5W/giphy.gif) top right  no-repeat;
}

.error {
  margin-left: 2vw;
}

/* POPULAR RECIPES */
h2 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 2vh;
  margin-top: 1vh;
  text-transform: capitalize;
}

h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}
.random-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.recipe-popular {
  position: relative;
  display: flex;;
}

.pop-recipe-img{
  max-width: 500px;
  height: auto;
  width: 100%;
}

.pop-recipe{
  position: absolute;
  bottom: 3vh;
  background-color: #51565c;
  color: white;
  font-size: 1.5vw;
  height: 7vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  margin-left: 1vw;
}

/* ALL RECIPES */
.all-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.recipe-img{
  max-width: 300px;
  height: auto;
  width:120%;
}

.recipe-listing {
  position: relative;
  max-width: 400px;
  height: auto;
  width: 30%;
  margin-top: 3vw;
}

h4{
  position: absolute;
  bottom: 3vh;
  background-color:  #51565c;
  color: white;
  font-size: 1vw;
  height: 5vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  margin-left: 1vw;
}

/* RECIPES BY CAT */

.recipe-by-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

/* FAVORITES */
.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.fav-name {
  font-size: 20px;
}

.recipe-image {
  box-sizing: border-box;
  position: relative;
}

.delete-btn {
  height: 5vh;
  width: 10vw;
  position: absolute;
  margin-top: 20vw;
  margin-left: 2vw;
  border-radius: 5px;
  background-color: none;
  opacity: 60%;
  font-size: 18px;
  font-weight: bolder;
}

.delete-btn:hover {
  background-color: #0b7899;
  color: white;
}

/* CURRENT RECIPE */
.current-rec-head {
  background-color: #0b7899;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.current-recipe {
  display: flex;
  flex-direction: column;
}

.add-to-fav-btn{
  font-size: 1.2vw;
  width: 10vw;
  margin-top: 2vh;
  margin-right: 5vw;
  border-radius: 5px;
  align-self: flex-end;
}

.add-to-fav-btn:hover {
  background-color: #81cbd4;
}

.single-recipe{
  max-width: 700px;
  height: auto;
  width: 50%;
  align-self: center;
  margin-bottom: 5vh;
  border-radius: 10px;
}

.ingredients{
  font-size: 1.5vw;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

.ingred {
  align-self: flex-start;
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.instructions {
  font-size: 2vw;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  margin: 0 2vw 1.5vw 2vw;
}


.hidden {
  display: none;
}
